<div class="container">
    <div class="row ">
        <div class="s12 m6 ">
          <div *ngFor="let q of allQuotes" class="card blue-grey darken-1">
            <div class="card-content white-text">
              <h2 class="card-title center">{{q.text}}</h2>
              <h6 >
                  <span>{{q.time|date}}</span><span class="right"> --{{q.by| username}}</span>

              </h6>
            </div>
          </div>
        </div>
      </div>
              

</div>